@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #FAEBEB;
  font-family: "Oswald", sans-serif;
 
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-10;
  }
   .head-text {
    @apply sm:text-4xl text-3xl font-semibold;
  }
   .hero_tag {
    @apply text-center xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-generalsans font-black !leading-normal;
  }
  .thumbs-up {
  display: inline-block;
  animation: raise-animation 1.5s infinite;
}
}

